@import-normalize;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

button {
  font: inherit;
}

a {
  color: #7b0baf;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

:root {
  height: -webkit-fill-available;
}

body {
  font-family: 'Titillium Web', sans-serif;
  color: #ffffff;
  background-image: linear-gradient(
    140deg,
    hsl(285deg 42% 31%) 0%,
    hsl(311deg 47% 35%) 11%,
    hsl(327deg 53% 43%) 22%,
    hsl(339deg 55% 50%) 33%,
    hsl(351deg 71% 59%) 44%,
    hsl(5deg 89% 64%) 56%,
    hsl(18deg 100% 63%) 67%,
    hsl(31deg 100% 59%) 78%,
    hsl(42deg 100% 54%) 89%,
    hsl(52deg 100% 48%) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  height: -webkit-fill-available;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.buttons {
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.btn {
  color: #fff;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 150ms ease;
}

.btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.btn:not(:disabled):active {
  transform: scale(0.97);
}

.btn--primary {
  background-color: #7b0baf;
}

.btn--secondary {
  color: #000;
  background-color: rgba(255, 255, 255, 0.6);
}

@media (hover: hover) {
  /* when supported */
  .btn--primary:not(:disabled):hover {
    background-color: #580d7a;
  }
  .btn--secondary:not(:disabled):hover {
    background-color: #fff;
  }
}

.next-btn {
  align-self: flex-end;
  padding: 0.5rem 2.5rem;
}

.play-again-btn {
  align-self: center;
  font-size: 1.1rem;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 100;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    140deg,
    hsl(285deg 42% 31%) 0%,
    hsl(311deg 47% 35%) 11%,
    hsl(327deg 53% 43%) 22%,
    hsl(339deg 55% 50%) 33%,
    hsl(351deg 71% 59%) 44%,
    hsl(5deg 89% 64%) 56%,
    hsl(18deg 100% 63%) 67%,
    hsl(31deg 100% 59%) 78%,
    hsl(42deg 100% 54%) 89%,
    hsl(52deg 100% 48%) 100%
  );
}

.loading {
  filter: blur(10px);
  clip-path: inset(0);
}
.loaded {
  filter: blur(0px);
  transition: filter 250ms linear;
}

/* TODO: :D this feels 'hacky' try to find better solution */
body,
#root,
.app,
.app-main {
  display: flex;
}

#root,
.app {
  flex: 1;
}

.app {
  max-width: 1280px;
  margin: 0 auto;
}

.app,
.app-main {
  flex-direction: column;
}

.app-main {
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.app-header,
.app-footer {
  padding: 15px;
}

.app-header .logo {
  font-size: 2.5rem;
  font-family: 'Courgette', cursive;
  cursor: pointer;
  display: inline-block;
}

.app-footer {
  text-align: center;
}

/*
  Start screen
*/

.start-screen-container {
  text-align: center;
  gap: 1rem;
  max-width: 650px;
}

.start-screen-container h2 {
  font-size: 1.8rem;
}

/*
 Question
*/

.question-title {
  font-size: 1.5rem;
}

.question-indicator {
  text-align: left;
}

.question-image {
  margin: 0 auto;
  max-width: 650px;
}

.question-answer--selected {
  background-color: #fff;
}

.question-answer--missed {
  background-color: #f1c40f;
}

.question-answer--correct {
  background-color: #27ae60;
  color: #fff;
}

.question-answer--incorrect {
  background-color: #c0392b;
  color: #fff;
}
.question-answer--missed:disabled,
.question-answer--correct:disabled,
.question-answer--incorrect:disabled {
  opacity: 1;
}

@media screen and (min-width: 500px) {
  .question-title {
    font-size: 1.8rem;
  }
}

/*
  Recognize screen
*/
.recognize-screen-container {
  gap: 1rem;
  text-align: center;
}

.recognize-screen-container .question-answer {
  flex: 1 0 100%;
}

@media screen and (min-width: 500px) {
  .recognize-screen-container .question-answer {
    flex-basis: calc(50% - 0.5rem);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

/*
  Ingredients screen
*/

.ingredients-screen-container {
  gap: 1rem;
  text-align: center;
  max-width: 650px;
}

.ingredients-screen-container .question-indicator {
  text-align: center;
}

.ingredients-screen-container .question-answers {
  flex-wrap: wrap;
  gap: 0.25rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.ingredients-screen-container .question-answer {
  flex: 1 0 auto;
  white-space: nowrap;
}
